
/* @font-face{
    font-family: 'Outfit' ;
    font-display: swap;
    font-weight: 400 700;
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf')
        format('truetype');
}
@font-face {
    font-family: 'Young Serif';
    font-display: swap;
    font-weight: 400;
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf') 
         format('truetype');
  } */
:root{
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    
    --hsla-stone-600: hsla(30, 10%, 34%, .8);

    --Brown-800: hsl(14, 45%, 36%);
    
    --Rose-800: hsl(332, 51%, 32%);
    --Rose-50: hsl(330, 100%, 98%);

    --font-family-default-1: 'Young Serif', sans-serif;
    --font-family-default-2: "Outfit", sans-serif;

    --fw-regular: 400;
    --fw-bold: 600;
    --fw-black: 700;

    --main-padding: 2rem;

    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}
*{
    margin: 0;
}
img{
  display: block;
  max-width: 100%;
  box-sizing: border-box;
}

h1,
h2{
    font-family: var(--font-family-default-1);
    font-weight: var(--fw-regular);     
}
h1{
    line-height: 1;
    color: var(--Stone-900);
}
h2{
    color: var(--Brown-800);
    padding: var(--main-padding) 0;
}
h3{
    color: var(--Rose-800);
    padding-bottom: calc(var(--main-padding) * .5) ;
}
ul{
    padding-left: calc(var(--main-padding) * .75);

}

li{
    line-height: 1.6;
    padding-left: calc(var(--main-padding) * .5);
}
li span{
    font-weight: var(--fw-bold);
}
.Ingredients li::marker{
    color: var(--Brown-800);

}
.preparetion-time li::marker{
    color: var(--Rose-800);

}
body{
    font-family: var(--font-family-default-2);
}
.container{
    padding: calc(var(--main-padding) * 1.5) var(--main-padding);
    color: var(--hsla-stone-600);
    font-weight: var(--fw-regular);
}
p{
    padding: var(--main-padding) 0;
    line-height: 1.6;
}
.preparetion-time{
    background-color: var(--Rose-50);
    padding: calc(var(--main-padding) *.75) ;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
hr{
    margin-top: var(--main-padding);
}
.Ingredients{
    list-style-type: square;
}
.Ingredients span{
    font-weight: var(--fw-black);
}
ol li::marker{
    color: var(--Brown-800);
    font-weight: var(--fw-black);
}
.Nutrition-p{
    padding-top: 0;
}
table{
    width: 100%;
}
td{
    border-bottom: 1px solid #ddd;
    padding: calc(var(--main-padding) * .5);
}
.last-row{
    border-bottom: none;
    padding: calc(var(--main-padding) * .5) calc(var(--main-padding) * .5) 0;

}
.first-row{
    padding-top: 0;
}
.col-2{
    color: var(--Brown-800);
    font-weight: var(--fw-black);
}
@media (min-width: 600px) {
    body{
        min-height: 100vh;
        display: grid;
        place-items: center;
        background-color: var(--Stone-100);
    }
    main{
        width: 65%;
        margin: 100px 0;
        background-color: var(--White);
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
    img{
        margin: 2.5rem auto 0;
        width: 90%;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
}